# Node
node_modules/
.npm
.yarn-integrity
*.tsbuildinfo

# Build output
dist/
.vite/

# Vite timestamp files
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Tests & coverage
coverage/
.nyc_output/

# Env & secrets
.env
.env.*
!.env.example

# Misc
.git/
.gitignore
.dockerignore
Dockerfile

# IDE/OS junk
.vscode/
.idea/
.DS_Store
Thumbs.db
